<div class="nested-fields">
  参照名
  <%= f.text_field :name,class: "form-control" %><br>
  参照先url
  <%= f.text_field :url,class: "form-control" %><br>
  <%= link_to_remove_association "削除" ,f ,class: "btn btn-sm btn-danger" %>
</div>