<div class="nested-fields">
  <table class="table">
    <tr>
      <th class="table-dark">手順</th>
      <th class="table-dark">画像</th>
      <th class="table-dark">説明</th>
      <th class="table-dark"></th>
    </tr>
    <tr>
      <td><%= f.text_field :procedure, placeholder: "手順をここに記述してください" ,class: "form-control" %></td>
      <td><%= f.file_field :text_image, accept: "image/*" %></td>
      <td><%= f.text_area :text, placeholder: "手順の詳細説明をここに記述してください" ,class: "form-control" %></td>
      <td><%= link_to_remove_association "削除" ,f ,class: "btn btn-sm btn-danger" %></td>
    </tr>
  </table>
</div>