<div class="nested-fields">
  <table class="table">
    <tr>
      <th>手順</th>
      <th>説明</th>
      <th></th>
    </tr>
    <tr>
      <td><%= f.text_field :procedure ,class: "form-control" %></td>
      <td><%= f.text_area :text ,class: "form-control" %></td>
      <td><%= link_to_remove_association "削除" ,f %></td>
    </tr>
  </table>
</div>