<div class="container">
  <h1>ノート一覧</h1>
  <table class="table">
    <tr>
      <th>タイトル</th>
      <th>カテゴリー</th>
      <th>いいね数</th>
      <th></th>
    </tr>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td></td>
        <td class="favorite-<%= note.id %>"><%= render "favorites/like", note: note %></td>
        <td><%= link_to "見る", note_path(note),class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </table>
</div>